main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 875px;
    background-image: url("../../assets/imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#loginSection {
    height: 100%;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    color: aliceblue;
}