<main>
  <section id="loginSection">
    <h1>Login</h1>
    <form class="row g-3">
      <label for="staticUsuario" class="visually-hidden">Usuário</label>
      <input
        type="text"
        name="usuario"
        class="form-control"
        id="staticUsuario"
        placeholder="Digite seu email"
        [(ngModel)]="usuario"
      />

      <label for="inputPassword2" class="visually-hidden">Senha</label>
      <input
        type="password"
        name="senha"
        class="form-control"
        id="inputPassword2"
        placeholder="Digite sua senha"
        [(ngModel)]="senha"
      />

      <button type="submit" class="btn btn-primary mb-3" (click)="fazerLogin()">Login</button>
    </form>
  </section>
</main>
